@use "../design-tokens/colors" as c;
@use "../design-tokens/spacing" as s;
@use "../design-tokens/border" as b;

.card {
  background-color: c.$color-white;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;

  &--default {
    border-radius: b.$border-radius-sm;
    border: 1px solid c.$color-border;
  }

  &--rounded {
    border-radius: b.$border-radius-lg;
    border: 1px solid c.$color-border;
  }

  &--outlined {
    border: b.$border-style-dashed;
    border-radius: b.$border-radius-md;
  }
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-section {
  padding: s.$spacing-md;
  border-top: 1px solid c.$color-gray-light;

  &:first-child {
    border-top: none;
  }
}
